/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */

  .hyde{
    display: none;
  }

  footer#iama-foot{
    position: fixed; 
    bottom: 0;
    background: white; 
    border-top: thin solid #aaa;
    left: 0;
    right: 0;
    height: 30px; 
  
    .log{
      margin-left: 15px; 
      min-width: 100px;
    }

    .button{      
      color: green;
      cursor: pointer; 
      margin-right:10px;  
      padding: 3px;  
      font-weight: bold; 
      font-size: larger; 
    }

  }
}
